<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/executive.css">
<link rel="icon" href="img/logo.png" type="image/x-icon">
<title>Executive Home Page</title>
</head>
<body>
    <%- include('header/navbar.ejs') %>
<div class="content">


</div>

<iframe style="margin-left: 10%; margin-bottom: 5%; background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-auction_platform-zxhsv/embed/charts?id=65d0a130-1618-49d5-8db2-f59cfdb6a990&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
<iframe style="margin-left: 5%; margin-bottom: 5%; background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-auction_platform-zxhsv/embed/charts?id=65d0a5ce-1618-44f8-8ec4-f59cfdc56df1&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
<iframe style="margin-left: 10%; margin-bottom: 5%; background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-auction_platform-zxhsv/embed/charts?id=65d19e84-d713-4ed4-89cb-5b089a7d1026&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
<div>
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="100%" height="450" src="https://charts.mongodb.com/charts-auction_platform-zxhsv/embed/charts?id=65d0aa6e-d6a2-4c55-84ba-32fbe8d22228&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
</div>
<div class="footer">
    &copy; 2024 Copyright: SDC PSG iTech
    <br>
    <a style="color: blue; font-size: 16px;; font-weight: bold;" href="/devops">DevOps Team</a>
  </div>

</body>
</html>