<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
  <%- include('header/header.ejs') %>
  <main class="container">
    <section class="about-section">
      <h2>About</h2>

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="img/itech.jpg" alt="slider" style="width:100%">
  <div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="img/itech.jpg" alt="slider" style="width:100%">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="img/itech.jpg" alt="slider" style="width:100%">
  <div class="text">Caption Three</div>
</div>

<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

      <p>PSG iTech, the latest initiative of PSG and Sons’ Charities, aims to realize its objective of enhancing youth empowerment through technical education. This institute caters to various engineering disciplines, focusing on learning, industry engagement of students, innovative and inclusive pedagogy, and ethics.</p>

      <p>PSG Institute of Technology and Applied Research aims at effective transfer of knowledge, pursuit of truth and moulding the students to become ideal citizens of the country. Within a short span of time, the Institution has emerged to be one of the most preferred institutions for the engineering aspirants in Tamilnadu.</p>

      <p>PSG Institute of Technology and Applied Research, started in the year 2014, is an AICTE approved institution and affiliated to Anna University, Chennai. This institution is equipped with various Centres of Excellence such as Innovation Centre, NI Graphical System Design Centre, Keysight RF circuit & System Design Lab, Festo Lab, NEXMOO Mobile & IoT Centre of Excellence, CISCO Network Academy and eYantra. PSGiTech aims to achieve excellence in education and research and nurture engineers with ethics, who will face global challenges to serve industry and society.</p>
    </section>

    <section class="mission">
      <h2>Vision of the College</h2>
      <p>To achieve excellence in education and research, and nurture engineers with ethics, who will face global challenges to serve industry and society.</p>
    </section>
    
    <section class="mission">
       <h2>Mission of the college</h2>
       <ul>
         <li>To facilitate active learning and vocational training.</li>
         <li>To encourage and promote questioning spirit and 'can-do' entrepreneurial attitude.</li>
         <li>To foster industry - institute collaboration.</li>
         <li>To ignite passion for creative work and selfless service towards a sustainable world.</li>
         <li>To provide intellectually stimulating environment, conducive for research.</li>
       </ul> 
    </section>
    <div class="container">
      <h1 class="heading">HONARARY PATRONS</h1>
      <div class="flex-container">
          <div class="item">
              <img src="img/Trustees.jpg" alt="Image 1" class="item-image">
              <h2 class="item-title">CHIEF PATRON
                </h2>
                <p class="item-title">Shri L Gopalakrishnan</p>
              <p class="item-location"> Managing Trustee</p>
              
          </div>
          <div class="item">
              <img src="img/nsk.jpg" alt="Image 1" class="item-image">
              <p class="item-title">Dr. N. Saravanakumar
              </p>
                <p class="item-title"> Principal, PSG iTech</p>
              <h2 class="item-location">PATRON</h2>
              
          </div>
          <div class="item">
              <img src="img/GCM.jpg" alt="Image 1" class="item-image">
              <p class="item-title">Dr. G Chandramohan</p>
              <h2 class="item-location">HONORARY PATRON</h2>
              
          </div>
          <div class="item">
              <img src="img/PVM.jpg" alt="Image 1" class="item-image">
              <p class="item-title">Dr. P V Mohanram</p>
              <p class="item-title">Secretary, PSG iTech</p>
              <h2 class="item-location">HONORARY PATRON</h2>
              
          </div>
      </div>
  </div> 
  <div class="container">
    <h1 class="heading">COUNCIL MEMBERS</h1>
    <div class="flex-container">
        <div class="item">
            <img src="img/aleem.jpg" alt="Image 1" class="item-image">
              <p class="item-title">Dr. M I Abdul Aleem</p>
            <p class="item-location">HOD-Civil Engg.</p>
            
        </div>
        <div class="item">
            <img src="img/manimegalai.jpg" alt="Image 1" class="item-image">
            <p class="item-title">Dr. R Manimegalai</p>
              <p class="item-title">HOD-CSE</p>
            
            
        </div>
        <div class="item">
            <img src="img/vasu.jpg" alt="Image 1" class="item-image">
            <p class="item-title">Dr. C L Vasu
              </p>
            <p class="item-title">HOD-EEE</p>
            
        </div>
        <div class="item">
            <img src="img/vijaya.jpg" alt="Image 1" class="item-image">
            <p class="item-title">Dr. P. Vijayakumar</p>
            <p class="item-title">HOD-ECE</p>
            
            
        </div>
        <div class="item">
          <img src="img/ramesh.jpg" alt="Image 1" class="item-image">
          <p class="item-title">Dr. R. Ramesh</p>
          <p class="item-title">HOD-Mechanical Engg.</p>
          
          
      </div>
    </div>
</div>
<div class="container">
  <h1 class="heading">OFFICE BEARERS</h1>
  <div class="flex-container">
      <div class="item">
          <img src="img/Navaneethan.jpg" alt="Image 1" class="item-image">
          <h2 class="item-title">Mr. Navaneetha Krishnan S U
            </h2>
            <h2 class="item-title">PRESIDENT</h2>
          <p class="item-location">(B.E. Civil Engg., 2014-18 Batch)
          </p>
          
      </div>
      <div class="item">
          <img src="img/Hariharan.jpg" alt="Image 1" class="item-image">
          <h2 class="item-title">Mr. Hariharan K
          </h2>
          <h2 class="item-title">VICE-PRESIDENT</h2>
        <p class="item-location">(B.E. CSE, 2015-19 Batch)
        </p>
          
      </div>
      <div class="item">
          <img src="img/Vijay Jayaram.jpg" alt="Image 1" class="item-image">
          <h2 class="item-title">Mr. Vijay Jayaram G
          </h2>
          <h2 class="item-title">SECRETARY</h2>
        <p class="item-location">(B.E. Mech. Engg. 2014-18 Batch)
        </p>
          
      </div>
      <div class="item">
          <img src="img/Sivangi.jpg" alt="Image 1" class="item-image">
          <h2 class="item-title">Mr. Shivanginadia S
          </h2>
          <h2 class="item-title">TREASURER</h2>
        <p class="item-location">(B.E. CSE, 2014-18 Batch)
        </p>
          
      </div>
  </div>
</div> 
<div class="container">
  <h1 class="heading"></h1>
  <div class="flex-container">
      <div class="item">
          <img src="img/karthick.jpg" alt="Image 1" class="item-image">
          <h2 class="item-title">Mr.  Karthi S
          </h2>
          <h2 class="item-title">JOINT-SECRETARY</h2>
        <p class="item-location">(B.E.Civil Engg. 2014-18 Batch)</p>
       
          
      </div>
      <div class="item">
          <img src="img/baratharun.jpg" alt="Image 1" class="item-image">
          <h2 class="item-title">Mr. Bharath Arun P
          </h2>
          <h2 class="item-title">JOINT-SECRETARY</h2>
        <p class="item-location">(B.E. EEE, 2014-18 Batch)
        </p>
      </div>
      <div class="item">
          <img src="img/samyuktha.jpg" alt="Image 1" class="item-image">
          <h2 class="item-title">Ms. Samyuktha Priyadharshini
          </h2>
          <h2 class="item-title">JOINT-SECRETARY</h2>
        <p class="item-location">(B.E.ECE, 2015-19 Batch)
        </p>
      </div>
      <div class="item">
          <img src="img/srinidhi.jpg" alt="Image 1" class="item-image">
          <h2 class="item-title">Ms. Srinidhi Thangam S
          </h2>
          <h2 class="item-title">JOINT-SECRETARY</h2>
        <p class="item-location">(B.E. CSE, 2015-19 Batch)
        </p>
        </div>
        <div class="item">
          <img src="img/satya.jpg" alt="Image 1" class="item-image">
          <h2 class="item-title">Dr. Sathiyanathan M
          </h2>
          <h2 class="item-title">GENERAL SECRETARY</h2>
        <p class="item-location">Associate Professor - EEE
        </p>

          
      </div>
  </div>
</div>  
  </main>

  <div class="footer">
    &copy; 2024 Alumni Connect Application
    <br>
    <a href="/devops">DevOps Team</a>
</div>
</body>
</html>

<script>
  let slideIndex = 1;
  showSlides(slideIndex);
  
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
  }
  </script>
  