<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/about.css">
<link rel="icon" href="img/logo.png" type="image/x-icon">
<title>About Page</title>
</head>
<body>
<%- include('header/header.ejs') %>
    
<div class="container">
  <div class="background-image" style="background-image: url('img/itech.jpg');"></div>
    <div class="text">
        <h1>We have our Alumni over 6+ continents</h1>
    </div>
</div>    
<h2>hi</h2>

<div class="footer">
    &copy; 2024 Alumni Connect Application
    <br>
    <a style="color: blue; font-size: 16px;; font-weight: bold;" href="/devops">DevOps Team</a>
</div>

</body>
</html>

<script>
  function applyFilter() {
    const selectedCountry = document.getElementById('countryFilter').value;

    const iframe = document.getElementById('geoChoroplethChart');
    const currentSrc = iframe.src;
    const newSrc = appendOrReplaceQueryParameter(currentSrc, 'country', selectedCountry);
    
    iframe.src = newSrc;
  }

  function appendOrReplaceQueryParameter(url, key, value) {
    const urlObj = new URL(url);
    urlObj.searchParams.set(key, value);
    return urlObj.toString();
  }
</script>