<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/devops.css">
<link rel="icon" href="img/logo.png" type="image/x-icon">
<title>DevOps Page</title>
</head>
<body>

<div class="navbar">
    <div class="logo-image">
        <img src="img/logo.png" alt="Logo" style="width: 50px; height: 50px;">
    </div>
    <div class="logo-text" onclick="location.href='/student'"><strong>PSG iTech Alumni Connect Application</strong></div>
    <ul>
        <li><a href="/student">Home</a></li>
    </ul>

</div>

<div class="developers">
    <div class="developer">
        <img src="img/19DC09.jpg" alt="Developer 1">
        <div class="details">
            <h3>KALIRAJ M</h3>
            <p><strong>Department:</strong> 3rd Year CSE</p>
            <p><strong>Role:</strong> Team Lead</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/kaliraj01/" target="_blank"><img src="img/linkedin.svg" alt="LinkedIn"></a>
                <a href="https://github.com/Kalirajm01" target="_blank"><img src="img/github.svg" alt="GitHub"></a>
                <a href="https://leetcode.com/kalirajm/" target="_blank"><img src="img/leetcode.svg" alt="LeetCode"></a>
                <a href="https://www.instagram.com/kaliraj_01/" target="_blank"><img src="img/instagram.svg" alt="Instagram"></a>
            </div>
        </div>
    </div>
    <!-- Add more developers here -->
</div>

<div class="footer">
    &copy; 2024  Alumni Connect Application
    <br>
    <a href="/devops">DevOps Team</a>
</div>

</body>
</html>
