<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/devops.css">
<link rel="icon" href="img/logo.png" type="image/x-icon">
<title>DevOps Page</title>
</head>
<body>

<div class="navbar">
    <div class="logo-image">
        <img src="img/logo.png" alt="Logo" style="width: 50px; height: 50px;">
    </div>
    <div class="logo-text" onclick="location.href='/student'"><strong>PSG iTech Alumni Connect Application</strong></div>
    <ul>
        <li><a onclick="goBack()">Home</a></li>
    </ul>

</div>

<div class="developers">
    <div class="developer">
        <img src="img/19DC09.jpg" alt="Developer 1">
        <div class="details">
            <h3>Kaliraj M</h3>
            <p><strong>Department:</strong> III Year CSE</p>
            <p><strong>Role:</strong> Team Lead & Full Stack Developer</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/kaliraj01/" target="_blank"><img src="img/linkedin.svg" alt="LinkedIn"></a>
                <a href="https://github.com/Kalirajm01" target="_blank"><img src="img/github.svg" alt="GitHub"></a>
                <a href="https://leetcode.com/kalirajm/" target="_blank"><img src="img/leetcode.svg" alt="LeetCode"></a>
                <a href="https://www.instagram.com/kaliraj_01/" target="_blank"><img src="img/instagram.svg" alt="Instagram"></a>
            </div>
        </div>
    </div>
</div>
<div class="developers">
    <div class="developer">
        <img src="img/vigneshwaran.jpg" alt="Developer 4">
        <div class="details">
            <h3>Vigneshwaran M</h3>
            <p><strong>Department:</strong> III Year CSE</p>
            <p><strong>Role:</strong> Lead Backend Developer</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/vigneshwaran-m-7187ab22b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><img src="img/linkedin.svg" alt="LinkedIn"></a>
                <a href="https://github.com/Viky20052004" target="_blank"><img src="img/github.svg" alt="GitHub"></a>
                <a href="#" target="_blank"><img src="img/leetcode.svg" alt="LeetCode"></a>
                <a href="https://www.instagram.com/viky_2005_2004?igsh=Y2I4NXN1cXhncGl2" target="_blank"><img src="img/instagram.svg" alt="Instagram"></a>
            </div>
        </div>
    </div>
        <div class="developer">
        <img src="img/sridhar.jpg" alt="Developer 2">
        <div class="details">
            <h3>Sridhar R</h3>
            <p><strong>Department:</strong> III Year CSE</p>
            <p><strong>Role:</strong> Backend Developer</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/sridhar-r-/" target="_blank"><img src="img/linkedin.svg" alt="LinkedIn"></a>
                <a href="https://github.com/bobby-bash" target="_blank"><img src="img/github.svg" alt="GitHub"></a>
                <a href="https://leetcode.com/bobby0bash_/" target="_blank"><img src="img/leetcode.svg" alt="LeetCode"></a>
                <a href="https://www.instagram.com/bobby0bash/" target="_blank"><img src="img/instagram.svg" alt="Instagram"></a>
            </div>
        </div>
    </div>
</div>
<div class="developers">
    <div class="developer">
        <img src="img/IMG_1178.PNG" alt="Developer 5">
        <div class="details">
            <h3>Nithishkumar MV</h3>
            <p><strong>Department:</strong> III Year CSE</p>
            <p><strong>Role:</strong> Lead Frontend Developer</p>
            <div class="social-icons">
                <a href="#" target="_blank"><img src="img/linkedin.svg" alt="LinkedIn"></a>
                <a href="#" target="_blank"><img src="img/github.svg" alt="GitHub"></a>
                <a href="#" target="_blank"><img src="img/leetcode.svg" alt="LeetCode"></a>
                <a href="#" target="_blank"><img src="img/instagram.svg" alt="Instagram"></a>
            </div>
        </div>
    </div>
    <div class="developer">
        <img src="img/mohithaa.jpg" alt="Developer 6">
        <div class="details">
            <h3>Mohithaa P</h3>
            <p><strong>Department:</strong> II Year CSE</p>
            <p><strong>Role:</strong> Frontend Developer</p>
            <div class="social-icons">
                <a href="#" target="_blank"><img src="img/linkedin.svg" alt="LinkedIn"></a>
                <a href="#" target="_blank"><img src="img/github.svg" alt="GitHub"></a>
                <a href="#" target="_blank"><img src="img/leetcode.svg" alt="LeetCode"></a>
                <a href="#" target="_blank"><img src="img/instagram.svg" alt="Instagram"></a>
            </div>
        </div>
    </div>
</div>
<div class="developers1">
    <div class="details">
        <h3>Testing and UI/UX Contributors</h3>
    <ul>
        <li>Gokul S - III CSE</li>
        <li>Kavin Raj - I Mech</li>
        <li>Manashwini C - I CSE</li>
        <li>Shree Pranav - II AI&DS</li>
        <li>Roshaun Infant R - II AI&DS</li>
    </ul>
    </div>
</div>

<div class="footer">
    &copy; 2024 Copyright: SDC PSG iTech
    <br>
    <a style="color: blue; font-size: 16px;; font-weight: bold;" href="/devops">DevOps Team</a>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

</body>
</html>
