<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevOps</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <div class="developers">
        <div class="wrapper">
            <div class="img-area">
                <div class="inner-area">
                    <img src="#" alt="">
                </div>
            </div>
            
            <div class="name">Kaliraj</div>
            <div class="about">Team Lead & Full Stack Developer</div>
            <div class="social-icons">
            <a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="insta"><i class="fab fa-instagram"></i></a>
            <a href="#" class="yt"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="developers">
          <div class="wrapper">
            <div class="img-area">
              <div class="inner-area">
                <img src="image.jpeg" alt="">
              </div>
            </div>
            <div class="name">Sridhar</div>
            <div class="about">Lead Backend Developer</div>
            <div class="social-icons">
              <a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
              <a href="#" class="insta"><i class="fab fa-instagram"></i></a>
              <a href="#" class="yt"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
          <div class="wrapper">
            <div class="img-area">
              <div class="inner-area">
                <img src="#" alt="">
              </div>
            </div>
            <div class="name">Vigneshwaran M</div>
            <div class="about">Lead Backend Developer</div>
            <div class="social-icons">
              <a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
              <a href="#" class="insta"><i class="fab fa-instagram"></i></a>
              <a href="#" class="yt"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
          
    </div>
    <div class="developers">
        <div class="wrapper">
            <div class="img-area">
              <div class="inner-area">
                <img src="#" alt="">
              </div>
            </div>
            <div class="name">Nithishkumar MV</div>
            <div class="about">Frontend Developer</div>
            <div class="social-icons">
              <a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
              <a href="#" class="insta"><i class="fab fa-instagram"></i></a>
              <a href="#" class="yt"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
          <div class="wrapper">
            <div class="img-area">
              <div class="inner-area">
                <img src=# alt="">
              </div>
            </div>
            <div class="name">Manashwini C</div>
            <div class="about">Frontend Developer</div>
            <div class="social-icons">
              <a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
              <a href="#" class="insta"><i class="fab fa-instagram"></i></a>
              <a href="#" class="yt"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
    </div>

    <div class="developers">
        <div class="details">
            <h3>Testing and UI/UX Contributors</h3>
        <ul>
            <li>Dhananjay S - III EEE</li>
            <li>Gokul S - III CSE</li>
            <li>Kavin Raj - I Mech</li>
            <li>Mohithaa P - II CSE</li>
            <li>Nithila Shri R P - III ECE</li>
            <li>Shree Pranav - II AI&DS</li>
            <li>Roshaun Infant R - II AI&DS</li>
            <li>Srinivasa Pradeep - III CSE</li>
        </ul>
        </div>
    </div>
    
    <div class="footer">
        &copy; 2024  Alumni Connect Application
        <br>
        <a href="/devops">DevOps Team</a>
    </div>
  
</body>
</html>
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/devops.css">
<link rel="icon" href="img/logo.png" type="image/x-icon">
<title>DevOps Page</title>
</head>
<body>

<div class="navbar">
    <div class="logo-image">
        <img src="img/logo.png" alt="Logo" style="width: 50px; height: 50px;">
    </div>
    <div class="logo-text" onclick="location.href='/student'"><strong>PSG iTech Alumni Connect Application</strong></div>
    <ul>
        <li><a href="/student">Home</a></li>
    </ul>

</div>

<div class="developers">
    <div class="developer">
        <img src="img/19DC09.jpg" alt="Developer 1">
        <div class="details">
            <h3>Kaliraj M</h3>
            <p><strong>Department:</strong> III Year CSE</p>
            <p><strong>Role:</strong> Team Lead & Full Stack Developer</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/kaliraj01/" target="_blank"><img src="img/linkedin.svg" alt="LinkedIn"></a>
                <a href="https://github.com/Kalirajm01" target="_blank"><img src="img/github.svg" alt="GitHub"></a>
                <a href="https://leetcode.com/kalirajm/" target="_blank"><img src="img/leetcode.svg" alt="LeetCode"></a>
                <a href="https://www.instagram.com/kaliraj_01/" target="_blank"><img src="img/instagram.svg" alt="Instagram"></a>
            </div>
        </div>
    </div>
</div>
<div class="developers">
    <div class="developer">
        <img src="img/gowtham.jpg" alt="Developer 3">
        <div class="details">
            <h3>Gowtham R</h3>
            <p><strong>Department:</strong> 3rd Year Civil</p>
            <p><strong>Role:</strong> Lead Backend Developer</p>
            <div class="social-icons">
                <a href="#" target="_blank"><img src="img/linkedin.svg" alt="LinkedIn"></a>
                <a href="#" target="_blank"><img src="img/github.svg" alt="GitHub"></a>
                <a href="#" target="_blank"><img src="img/leetcode.svg" alt="LeetCode"></a>
                <a href="#" target="_blank"><img src="img/instagram.svg" alt="Instagram"></a>
            </div>
        </div>
    </div>
        <div class="developer">
        <img src="img/" alt="Developer 2">
        <div class="details">
            <h3>Sridhar R</h3>
            <p><strong>Department:</strong> 3rd Year CSE</p>
            <p><strong>Role:</strong> Lead Backend Developer</p>
            <div class="social-icons">
                <a href="#" target="_blank"><img src="img/linkedin.svg" alt="LinkedIn"></a>
                <a href="#" target="_blank"><img src="img/github.svg" alt="GitHub"></a>
                <a href="#" target="_blank"><img src="img/leetcode.svg" alt="LeetCode"></a>
                <a href="#" target="_blank"><img src="img/instagram.svg" alt="Instagram"></a>
            </div>
        </div>
    </div>
    <div class="developer">
        <img src="img/vigneshwaran.jpg" alt="Developer 4">
        <div class="details">
            <h3>Vigneshwaran M</h3>
            <p><strong>Department:</strong> 3rd Year CSE</p>
            <p><strong>Role:</strong> Backend Developer</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/vigneshwaran-m-7187ab22b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><img src="img/linkedin.svg" alt="LinkedIn"></a>
                <a href="https://github.com/Viky20052004" target="_blank"><img src="img/github.svg" alt="GitHub"></a>
                <a href="#" target="_blank"><img src="img/leetcode.svg" alt="LeetCode"></a>
                <a href="https://www.instagram.com/viky_2005_2004?igsh=Y2I4NXN1cXhncGl2" target="_blank"><img src="img/instagram.svg" alt="Instagram"></a>
            </div>
        </div>
    </div>
</div>
<div class="developers">
    <div class="developer">
        <img src="img/" alt="Developer 5">
        <div class="details">
            <h3>Nithishkumar MV</h3>
            <p><strong>Department:</strong> III Year CSE</p>
            <p><strong>Role:</strong> Lead Frontend Developer</p>
            <div class="social-icons">
                <a href="#" target="_blank"><img src="img/linkedin.svg" alt="LinkedIn"></a>
                <a href="#" target="_blank"><img src="img/github.svg" alt="GitHub"></a>
                <a href="#" target="_blank"><img src="img/leetcode.svg" alt="LeetCode"></a>
                <a href="#" target="_blank"><img src="img/instagram.svg" alt="Instagram"></a>
            </div>
        </div>
    </div>
    <div class="developer">
        <img src="img/manashwini.jpg" alt="Developer 6">
        <div class="details">
            <h3>Manashwini C</h3>
            <p><strong>Department:</strong> I Year CSE</p>
            <p><strong>Role:</strong> Frontend Developer</p>
            <div class="social-icons">
                <a href="#" target="_blank"><img src="img/linkedin.svg" alt="LinkedIn"></a>
                <a href="#" target="_blank"><img src="img/github.svg" alt="GitHub"></a>
                <a href="#" target="_blank"><img src="img/leetcode.svg" alt="LeetCode"></a>
                <a href="#" target="_blank"><img src="img/instagram.svg" alt="Instagram"></a>
            </div>
        </div>
    </div>
</div>
<div class="developers">
    <div class="details">
        <h3>Testing and UI/UX Contributors</h3>
    <ul>
        <li>Dhananjay S - III EEE</li>
        <li>Gokul S - III CSE</li>
        <li>Kavin Raj - I Mech</li>
        <li>Mohithaa P - II CSE</li>
        <li>Nithila Shri R P - III ECE</li>
        <li>Shree Pranav - II AI&DS</li>
        <li>Roshaun Infant R - II AI&DS</li>
        <li>Srinivasa Pradeep - III CSE</li>
    </ul>
    </div>
</div>

<div class="footer">
    &copy; 2024  Alumni Connect Application
    <br>
    <a href="/devops">DevOps Team</a>
</div>

</body>
</html>
 -->