<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Page</title>
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/events.css">
</head>
<body>
    <%- include('header/header.ejs') %>
    <div class="heading">
      <h1>Events</h1>
    </div>
    <div class="events-container">
        <div class="event">
          <img src="img/ai2023.jpg" alt="Event 5">
          <div class="event-details">
            <h3>Alumni Induction Programme</h3>
            <p><strong>Date:</strong> 18th May 2023</p>
            <p><strong>Description:</strong> The Alumni Induction Programme for the 2019-23 batch students was organized by PSG iTech Alumni Association on 18th May 2023 from 5:30 pm to 7:00 pm.</p>
            <button class="register-btn"><a href="/docs/Alumni Induction Program 2023 Batch Report - R1.pdf">Read more</a></button>
          </div>
        </div>
        <div class="event">
          <img src="img/Fourth Alumni Meet.jpg" alt="Event 4">
          <div class="event-details">
            <h3>Fourth Alumni Meet</h3>
            <p><strong>Date:</strong> 14th October 2022</p>
            <p><strong>Description:</strong> The Fourth Alumni Meet was conducted on 14th October 2022 (Friday) from 5:30 pm to 7:30 pm at the E6-Block Mechanical seminar hall. There are 120 alumni from various batches, and their parents attended this meeting.</p>
            <button class="register-btn"><a href="/docs/Fourth Alumni meet report V1.pdf">Read more</a></button>
          </div>
        </div>
        <div class="event">
          <img src="img/4.jpeg" alt="Event 3">
          <div class="event-details">
            <h3>Third Alumni Meet</h3>
            <p><strong>Date:</strong> 12th February 2022</p>
            <p><strong>Description:</strong> </p>
            <button class="register-btn"><a href="#">Read more</a></button>
          </div>
        </div>
        <div class="event">
          <img src="img/5.jpeg" alt="Event 2">
          <div class="event-details">
            <h3>Second Alumni Meet</h3>
            <p><strong>Date:</strong> </p>
            <p><strong>Description:</strong> </p>
            <button class="register-btn"><a href="#">Read more</a></button>
          </div>
        </div>
        <div class="event">
          <img src="img/8.jpeg" alt="Event 1">
          <div class="event-details">
            <h3>First Alumni Meet</h3>
            <p><strong>Date:</strong> 8th Feb 2020</p>
            <p><strong>Description:</strong> </p>
            <button class="register-btn"><a href="#">Read more</a></button>
          </div>
        </div>
    </div>
    <div class="footer">
      &copy; 2024 Copyright: SDC PSG iTech
      <br>
      <a style="color: blue; font-size: 16px;; font-weight: bold;" href="/devops">DevOps Team</a>
    </div>
</body>
</html>

