<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Page</title>
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/eventsreg.css">
</head>
<body>
    <%- include('header/header.ejs') %>

    <div class="registration-container">
      <div class="registration-form">
        <h2>Event Registration</h2>
        <form action="/register" method="post">
          <div class="input-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
          </div>
          <div class="input-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="input-group">
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" required>
          </div>
          <div class="input-group">
            <label for="event">Event:</label>
            <select id="event" name="event" required>
              <option value="event1">Event 1</option>
              <option value="event2">Event 2</option>
              <option value="event3">Event 3</option>
            </select>
          </div>
          <button type="submit" class="register-btn">Register</button>
        </form>
      </div>
    </div>
    <div class="footer">
      &copy; 2024 Copyright: SDC PSG iTech
      <br>
      <a style="color: blue; font-size: 16px;; font-weight: bold;" href="/devops">DevOps Team</a>
    </div>
</body>
</html>

