<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Page</title>
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/events.css">
</head>
<body>
    <%- include('header/header.ejs') %>

    <div class="events-container">
        <div class="event">
          <img src="img/event.jpg" alt="Event 1">
          <div class="event-details">
            <h3>Event Name 1</h3>
            <p><strong>Cost:</strong> $10</p>
            <p><strong>Location:</strong> Venue 1</p>
            <button class="register-btn"><a href="/eventsreg">Register</a></button>
          </div>
        </div>
        <div class="event">
          <img src="img/event.jpg" alt="Event 1">
          <div class="event-details">
            <h3>Event Name 1</h3>
            <p><strong>Cost:</strong> $10</p>
            <p><strong>Location:</strong> Venue 1</p>
            <button class="register-btn"><a href="/eventsreg">Register</a></button>
          </div>
        </div>
        <div class="event">
          <img src="img/event.jpg" alt="Event 1">
          <div class="event-details">
            <h3>Event Name 1</h3>
            <p><strong>Cost:</strong> $10</p>
            <p><strong>Location:</strong> Venue 1</p>
            <button class="register-btn"><a href="/eventsreg">Register</a></button>
          </div>
        </div>
        <div class="event">
          <img src="img/event.jpg" alt="Event 1">
          <div class="event-details">
            <h3>Event Name 1</h3>
            <p><strong>Cost:</strong> $10</p>
            <p><strong>Location:</strong> Venue 1</p>
            <button class="register-btn"><a href="/eventsreg">Register</a></button>
          </div>
        </div>
        <div class="event">
          <img src="img/event.jpg" alt="Event 1">
          <div class="event-details">
            <h3>Event Name 1</h3>
            <p><strong>Cost:</strong> $10</p>
            <p><strong>Location:</strong> Venue 1</p>
            <button class="register-btn"><a href="/eventsreg">Register</a></button>
          </div>
        </div>
        <div class="event">
          <img src="img/event.jpg" alt="Event 1">
          <div class="event-details">
            <h3>Event Name 1</h3>
            <p><strong>Cost:</strong> $10</p>
            <p><strong>Location:</strong> Venue 1</p>
            <button class="register-btn"><a href="/eventsreg">Register</a></button>
          </div>
        </div>
        <div class="event">
          <img src="img/event.jpg" alt="Event 1">
          <div class="event-details">
            <h3>Event Name 1</h3>
            <p><strong>Cost:</strong> $10</p>
            <p><strong>Location:</strong> Venue 1</p>
            <button class="register-btn"><a href="/eventsreg">Register</a></button>
          </div>
        </div>
        <div class="event">
          <img src="img/event.jpg" alt="Event 1">
          <div class="event-details">
            <h3>Event Name 1</h3>
            <p><strong>Cost:</strong> $10</p>
            <p><strong>Location:</strong> Venue 1</p>
            <button class="register-btn"><a href="/eventsreg">Register</a></button>
          </div>
        </div>
        <div class="event">
          <img src="img/event.jpg" alt="Event 1">
          <div class="event-details">
            <h3>Event Name 1</h3>
            <p><strong>Cost:</strong> $10</p>
            <p><strong>Location:</strong> Venue 1</p>
            <button class="register-btn"><a href="/eventsreg">Register</a></button>
          </div>
        </div>
    </div>
    <div class="footer">
        &copy; 2024  Alumni Connect Application
        <br>
        <a href="/devops">DevOps Team</a>
    </div>
</body>
</html>

