<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/jobs.css">
<link rel="icon" href="img/logo.png" type="image/x-icon">
<title>Internship/Jobs Page</title>
</head>
<body>
    <%- include('header/header.ejs') %>
<div class="content">
    <div class="container">
        <div class="job-post">
          <h2>Full Stack Developer</h2>
          <p><strong>Company:</strong>ABC</p>
          <p><strong>Location:</strong> New York, NY</p>
          <p><strong>Description:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae fermentum felis. Nulla facilisi. Duis non sem auctor, tempus elit id, ultricies tortor.</p>
          <p><strong>Requirements:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae fermentum felis. Nulla facilisi.</p>
          <p><strong>Contact:</strong> John Doe (john.doe@example.com)</p>
          <button class="apply-button">Apply</button>
        </div>
      
        <div class="job-post">
          <h2>Marketing Intern</h2>
          <p><strong>Company:</strong> ABC Marketing</p>
          <p><strong>Location:</strong> Los Angeles, CA</p>
          <p><strong>Description:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae fermentum felis. Nulla facilisi. Duis non sem auctor, tempus elit id, ultricies tortor.</p>
          <p><strong>Requirements:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae fermentum felis. Nulla facilisi.</p>
          <p><strong>Contact:</strong> Jane Smith (jane.smith@example.com)</p>
          <button class="apply-button">Apply</button>
        </div>
      
        <div class="job-post">
            <h2>Marketing Intern</h2>
            <p><strong>Company:</strong> ABC Marketing</p>
            <p><strong>Location:</strong> Los Angeles, CA</p>
            <p><strong>Description:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae fermentum felis. Nulla facilisi. Duis non sem auctor, tempus elit id, ultricies tortor.</p>
            <p><strong>Requirements:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae fermentum felis. Nulla facilisi.</p>
            <p><strong>Contact:</strong> Jane Smith (jane.smith@example.com)</p>
            <button class="apply-button">Apply</button>
        </div>
      </div>

</div>

<div class="footer">
    &copy; 2024 Alumni Connect Application
</div>

</body>
</html>