<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/scholarship.css">
<link rel="icon" href="img/logo.png" type="image/x-icon">
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
<title>Student Scholarship Page</title>
</head>
<body>

    <!-- <h1>PSG iTech Merit-Cum-Need based Scholarship Form</h1>
    <%- include('ScholarshipApplication.html') %> -->
    <% include('header/header.ejs') %>

    <div class="pdf-container">
        <!-- Add your PDF display div here -->
        <div id="pdf-viewer">
            <embed src="https://drive.google.com/file/d/18rOlb3bE8dsM0zqU7ub2X1JeWl51HDnX/view?usp=sharing" width="600" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">

            <!-- <iframe src="https://drive.google.com/file/d/18rOlb3bE8dsM0zqU7ub2X1JeWl51HDnX/view?usp=sharing" style="width:600px; height:500px;" frameborder="0"></iframe> -->
        </div>
    </div>
    <form action="/email-scholarship" method="post" class="form">
        <button type="submit" class="submit-button">Submit</button>
    </form>
    <div class="footer">
        &copy; 2024 Copyright: SDC PSG iTech
        <br>
        <a style="color: blue; font-size: 16px;; font-weight: bold;" href="/devops">DevOps Team</a>
    </div>
</body>
</html>

