<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/student.css">
<link rel="icon" href="img/logo.png" type="image/x-icon">
<title>Student Home Page</title>
</head>
<body>
<%- include('header/header.ejs') %>
    
<div class="container">
    <div class="gradient-background"></div>
    <div class="text">
        <h1>Welcome to PSG iTech Alumni Association</h1>
    </div>
</div>

      <div class="event-container">
        <div class="event">
          <div class="event-info">
            <h2 class="event-title">Alumni Meet</h2>
            <p class="event-location">Mech Seminar Hall</p>
            <button class="view-button"><a href="/events">View</a></button>
          </div>
          <div class="event-image">
            <img src="img/event.jpg" alt="Event Image 1">
          </div>
        </div>

        <div class="event">
            <div class="event-info">
              <h2 class="event-title">PSG Staff Day</h2>
              <p class="event-location">CSE Seminar Hall</p>
              <button class="view-button"><a href="/events">View</a></button>
            </div>
            <div class="event-image">
              <img src="img/event.jpg" alt="Event Image 1">
            </div>
          </div>

          <div class="event">
            <div class="event-info">
              <h2 class="event-title">Alumni Association Meet</h2>
              <p class="event-location">Board Room</p>
              <button class="view-button"><a href="/events">View</a></button>
            </div>
            <div class="event-image">
              <img src="img/event.jpg" alt="Event Image 1">
            </div>
          </div>

          <div class="event">
            <div class="event-info">
              <h2 class="event-title">Sample</h2>
              <p class="event-location">Event Location 1</p>
              <button class="view-button"><a href="/events">View</a></button>
            </div>
            <div class="event-image">
              <img src="img/event.jpg" alt="Event Image 1">
            </div>
          </div>

          <div class="event">
            <div class="event-info">
              <h2 class="event-title">Sample 2</h2>
              <p class="event-location">Event Location 2</p>
              <button class="view-button"><a href="/events">View</a></button>
            </div>
            <div class="event-image">
              <img src="img/event.jpg" alt="Event Image 1">
            </div>
          </div>

      </div>
      
      <div class="job-container">
        <div class="job">
            <img src="img/event.jpg" alt="Job Image">
            <h3>Job Title 1</h3>
            <p>Department: Department 1</p>
            <button class="view-button"><a href="/events">View</a></button>
        </div>
        <div class="job">
            <img src="img/event.jpg" alt="Job Image">
            <h3>Job Title 2</h3>
            <p>Department: Department 2</p>
            <button class="view-button"><a href="/events">View</a></button>
        </div>
        <div class="job">
            <img src="img/event.jpg" alt="Job Image">
            <h3>Job Title 3</h3>
            <p>Department: Department 3</p>
            <button class="view-button"><a href="/events">View</a></button>
        </div>
        <div class="job">
            <img src="img/event.jpg" alt="Job Image">
            <h3>Job Title 3</h3>
            <p>Department: Department 3</p>
            <button class="view-button"><a href="/events">View</a></button>
        </div>
        <div class="job">
            <img src="img/event.jpg" alt="Job Image">
            <h3>Job Title 3</h3>
            <p>Department: Department 3</p>
            <button class="view-button"><a href="/events">View</a></button>
        </div>
    </div>
    
    
    <div>
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="100%" height="450" src="https://charts.mongodb.com/charts-auction_platform-zxhsv/embed/charts?id=65d0aa6e-d6a2-4c55-84ba-32fbe8d22228&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>
    

<div class="footer">
    &copy; 2024 Alumni Connect Application
    <br>
    <a style="color: blue; font-size: 16px;; font-weight: bold;" href="/devops">DevOps Team</a>
</div>

</body>
</html>