<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/studentchat.css">
<link rel="icon" href="img/logo.png" type="image/x-icon">
<title>Student Chat Page</title>
</head>
<body>
<%- include('header/header.ejs') %>

<div class="content">
    <div class="message-board">
      <h2>Chat with Alumni</h2>
      <div class="message-form">
          <form action="/send-message" method="POST">
              <textarea id="message" name="message" placeholder="Type your message here..." required></textarea>
              <div class="filter-options">
                  <label for="filter-batch">Filter by Batch:</label>
                  <select id="filter-batch" name="filterBatch">
                      <option value="all">All</option>
                      <option value="2026">2022 - 2026</option>
                      <option value="2025">2021 - 2025</option>
                      <option value="2024">2020 - 2024</option>
                      <option value="2023">2019 - 2023</option>
                      <option value="2022">2018 - 2022</option>
                      <option value="2021">2017 - 2021</option>
                      <option value="2020">2016 - 2020</option>
                      <option value="2019">2015 - 2019</option>
                      <option value="2018">2014 - 2018</option>
                  </select>
                  
                  <label for="filter-department">Filter by Department:</label>
                  <select id="filter-department" name="filterDepartment">
                      <option value="All">All</option>
                      <option value="AIDS">AIDS</option>
                      <option value="CSBS">CSBS</option>
                      <option value="CSE">CSE</option>
                      <option value="Civil">Civil</option>
                      <option value="ECE">ECE</option>
                      <option value="EEE">EEE</option>
                      <option value="Mech">Mech</option>
                  </select>
              </div>
              <button type="submit" id="send-button">Send</button>
          </form>
      </div>
  <br><br>
  <div class="message-history-container">
    <% if (messages && messages.length > 0) { %>
        <% messages.forEach(message => { %>
            <div class="message">
                <p><strong><%= message.sender %>:</strong> <%= message.content %></p>
                <p class="timestamp"><%= message.timestamp %></p> 
            </div>
        <% }); %>
    <% } else { %>
        <p>No messages available</p>
    <% } %>
</div>
</div>
</div>

<div class="footer">
  &copy; 2024 Copyright: SDC PSG iTech
  <br>
  <a style="color: blue; font-size: 16px;; font-weight: bold;" href="/devops">DevOps Team</a>
</div>

</body>
</html>