<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/aabout.css">
<link rel="icon" href="img/logo.png" type="image/x-icon">
<title>About Page</title>
</head>
<body>
<%- include('header/navbar.ejs') %>
    
<div class="container">
  <div class="background-image" style="background-image: url('img/itech.jpg');"></div>
    <div class="text">
        <h1>We have our Alumni over 6+ continents</h1>
    </div>
</div> 
<div class="heading">
  <h1>About</h1>
</div>   

<div class="content">
  <p>
    Welcome to PSG iTech Alumni Association <br><br>

PSG Institute of Technology and Applied Research (PSG iTech) has emerged as one of the most preferred institutions for the engineering aspirants in our country. PSG iTech is renowned for its commitment towards teaching-learning process for the effective transfer of knowledge, pursuit of truth and moulding the students to become ideal citizens of the country. <br><br>

PSG iTech Alumni Association is established with the support of PSG Management to re-connect alumni with their fellow alumni, institutes, and students on campus; to engage through various activities among all stakeholders; and to create impact through various social and academic initiatives for collective development.<br><br>

The alumni association carries out numerous activities with the support of Management, Principal and faculty members of PSG iTech. We represent about 1014 plus PSG iTech alumni in various chapters spread across the globe, joining hands to make PSG iTech a world- class institution. <br><br>

The association provides financial support to poor students through scholarships. PSG iTech is very proud of its distinguished and talented alumni who have made outstanding contributions to betterment of the institute and society. <br><br>

We encourage you to communicate with fellow alumni on this forum and discover possibilities for giving back to your alma mater. <br><br>  
</p>
</div>

<div class="heading">
  <h1>Honorary Persons</h1>
</div> 

<div class="honorary-patrons">
    <div class="patron">
        <img src="img/Trustees.jpg" alt="Patron 1">
        <div class="details">
            <h3>Shri L Gopalakrishnan</h3>
            <p>Managing Trustee</p>
            <p><strong>CHIEF PATRON</strong></p>
        </div>
    </div>
    <div class="patron">
      <img src="img/nsk.jpg" alt="Patron 2">
      <div class="details">
          <h3>Dr. N. Saravanakumar</h3>
          <p>Principal, PSG iTech</p>
          <p><strong>PATRON</strong></p>
      </div>
  </div>
  <div class="patron">
    <img src="img/GCM.jpg" alt="Patron 3">
    <div class="details">
        <h3>Dr. G Chandramohan</h3>
        <p><strong>HONORARY PATRON</strong></p>
    </div>
</div>
<div class="patron">
  <img src="img/PVM.jpg" alt="Patron 4">
  <div class="details">
      <h3>Dr. P V Mohanram</h3>
      <p>Secretary, PSG iTech</p>
      <p><strong>HONORARY PATRON</strong></p>
  </div>
</div>
</div>

<div class="heading">
  <h1>Council Members</h1>
</div> 

<div class="honorary-patrons">
  <div class="patron2">
    <img src="img/aleem.jpg" alt="Patron 1">
    <div class="details2">
        <h3>Dr. M I Abdul Aleem</h3>
        <p><strong>HOD-Civil Eng.</strong></p>
    </div>
</div>
<div class="patron2">
  <img src="img/manimegalai.jpg" alt="Patron 2">
  <div class="details2">
      <h3>Dr. R Manimegalai</h3>
      <p><strong>HOD-CSE</strong></p>
  </div>
</div>
<div class="patron2">
  <img src="img/vasu.jpg" alt="Patron 3">
  <div class="details2">
      <h3>Dr. C L Vasu</h3>
      <p><strong>HOD-EEE</strong></p>
  </div>
</div>
<div class="patron2">
  <img src="img/faculty_image_298.jpg" alt="Patron 4">
  <div class="details2">
      <h3>Dr. P. Vijayakumar</h3>
      <p><strong>HOD-ECE</strong></p>
  </div>
</div>
<div class="patron2">
  <img src="img/faculty_image_116.jpg" alt="Patron 5">
  <div class="details2">
      <h3>Dr. R. Ramesh</h3>
      <p><strong>HOD-Mechanical Engg.</strong></p>
  </div>
</div>
</div>
<div class="heading">
  <h1>Office Bearers</h1>
</div> 

<div class="honorary-patrons">
    <div class="patron1">
        <img src="img/Navaneethan.jpg" alt="Patron 1">
        <div class="details1">
            <h3>Mr. Navaneetha Krishnan S U</h3>
            <p>(B.E. Civil Engg., 2014-18 Batch)</p>
            <p><strong>PRESIDENT</strong></p>
        </div>
    </div>
    <div class="patron1">
      <img src="img/Hariharan.jpg" alt="Patron 2">
      <div class="details1">
          <h3>Mr. Hariharan K</h3>
          <p>(B.E. CSE, 2015-19 Batch)</p>
          <p><strong>VICE-PRESIDENT</strong></p>
      </div>
  </div>
  <div class="patron1">
    <img src="img/Vijay Jayaram.jpg" alt="Patron 3">
    <div class="details1">
        <h3>Mr. Vijay Jayaram G</h3>
        <p>(B.E. Mech. Engg. 2014-18 Batch)</p>
        <p><strong>SECRETARY</strong></p>
    </div>
</div>
<div class="patron1">
  <img src="img/Sivangi.jpg" alt="Patron 4">
  <div class="details1">
      <h3>Ms. Shivanginadia S</h3>
      <p>(B.E. CSE. 2014-18 Batch)</p>
      <p><strong>TREASURER</strong></p>
  </div>
</div>
<div class="patron1">
  <img src="img/karthick.jpg" alt="Patron 5">
  <div class="details1">
      <h3>Mr. Karthi S</h3>
      <p>(B.E.Civil Engg. 2014-18 Batch)</p>
      <p><strong>JOINT-SECRETARY</strong></p>
  </div>
</div>
<div class="patron1">
  <img src="img/baratharun.jpg" alt="Patron 6">
  <div class="details1">
      <h3>Mr. Bharath Arun P</h3>
      <p>(B.E. EEE, 2014-18 Batch)</p>
      <p><strong>JOINT-SECRETARY</strong></p>
  </div>
</div>
<div class="patron1">
  <img src="img/Samyuktha.jpg" alt="Patron 7">
  <div class="details1">
      <h3>Ms. Samyuktha Priyadharshini</h3>
      <p>(B.E.ECE. 2015-19 Batch)</p>
      <p><strong>JOINT-SECRETARY</strong></p>
  </div>
</div>
<div class="patron1">
  <img src="img/srinidhi thangam.jpg" alt="Patron 8">
  <div class="details1">
      <h3>Ms. Srinidhi Thangam S</h3>
      <p>(B.E.CSE. 2015-19 Batch)</p>
      <p><strong>JOINT-SECRETARY</strong></p>
  </div>
</div>
<div class="patron1">
  <img src="img/1629782331438.jpg" alt="Patron 9">
  <div class="details1">
      <h3>Dr. Sathiyanathan M</h3>
      <p>Associate Professor - EEE, PSG iTech</p>
      <p><strong>GENERAL SECRETARY</strong></p>
  </div>
</div>
</div>

<div class="footer">
    &copy; 2024 Copyright: SDC PSG iTech
    <br>
    <a style="color: blue; font-size: 16px;; font-weight: bold;" href="/devops">DevOps Team</a>
</div>

</body>
</html>
