<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/scholarshipfund.css">
<link rel="icon" href="img/logo.png" type="image/x-icon">
<title>Scholarship Donate Page</title>
</head>
<body>
    <%- include('header/navbar.ejs') %>

    <div class="container">
      <div style="margin-top: 2%;margin-left: 2%;" class="filter-container">
        <button class="filter-button active" onclick="toggleFilter('all')">All</button>
        <button class="filter-button" onclick="toggleFilter('jobs')">Jobs</button>
        <button class="filter-button" onclick="toggleFilter('jobs')">Internships</button>
        <button class="filter-button" onclick="toggleFilter('workshops')">Workshops</button>
        <button class="filter-button" onclick="toggleFilter('workshops')">Mock Interviews</button>
        <button class="filter-button" onclick="toggleFilter('workshops')">Project Reviews</button>
        <button class="filter-button" onclick="toggleFilter('funds')">Funds</button>
      </div>
      
      <div id="jobs" class="content">
        <div class="container1">
          <h2>Jobs/Internships Form</h2>
    <form action="/submit" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br>
        <label for="typeofpost">Type:</label>
        <select id="typeofpost" name="typeofpost" required>
          <option value="" disabled selected>Select the Type</option>
          <option value="job">Job</option>
          <option value="internship">Internship</option>
          <option value="project">Project</option>
        </select>
        <label for="companyname">Company Name:</label>
        <input type="text" id="companyname" name="companyname" required><br>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required><br>
        <label for="requirement">Requirements:</label>
        <input type="text" id="requirement" name="requirement" required><br>
        <label for="descriptions">Description:</label>
        <textarea id="descriptions" name="descriptions" rows="4" required></textarea>
        <label for="department">Department:</label>
        <select id="department" name="department" required>
          <option value="" disabled selected>Select Department</option>
          <option value="aids">AIDS</option>
          <option value="csbs">CSBS</option>
          <option value="cse">CSE</option>
          <option value="civil">Civil</option>
          <option value="ece">ECE</option>
          <option value="eee">EEE</option>
          <option value="mech">Mech</option>
        </select>
        <label for="contact">Contact:</label>
        <input type="tel" id="contact" name="contact" pattern="[0-9]{10}" required><br>
        <label for="applybydate">Apply By Date:</label>
        <input type="date" id="applybydate" name="applybydate" required>
        <button type="submit" value="create">Submit</button>
    </form>
        </div>
      </div>
        </div>

      
      <div id="funds" class="content">
      <div style="margin-top: 2%; margin-right: 2%; margin-left: 2%;" class="donation-section">
        <div class="donation-container">
          <h2>Support Our Students</h2>
          <p>Your donation can make a difference in a student's life. Contribute to their education and empower their future.</p>
          <form action="#" method="post">
            <label for="amount">Enter Donation Amount:</label>
            <input type="number" id="amount" name="amount" min="0" step="0.01" placeholder="Enter amount" required>
            <button type="submit" class="btn-donate">Contribute</button>
          </form>
        </div>
      </div>
      <iframe style="margin-top: 2%; margin-left: 5%; background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-auction_platform-zxhsv/embed/charts?id=65d19e84-d713-4ed4-89cb-5b089a7d1026&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>


<div class="footer">
  &copy; 2024 Copyright: SDC PSG iTech
  <br>
  <a style="color: blue; font-size: 16px;; font-weight: bold;" href="/devops">DevOps Team</a>
</div>

</body>
</html>


<script>
 document.addEventListener("DOMContentLoaded", function() {
  const contentElements = document.querySelectorAll('.content');
  contentElements.forEach(content => {
    content.style.display = 'block';
  });
});

function toggleFilter(option) {
  const contentElements = document.querySelectorAll('.content');
  contentElements.forEach(content => {
    content.style.display = 'none';
  });

  if (option === 'all') {
    contentElements.forEach(content => {
      content.style.display = 'block';
    });
  } else {
    const selectedContent = document.getElementById(option);
    if (selectedContent) {
      selectedContent.style.display = 'block';
    }
  }

  const filterButtons = document.querySelectorAll('.filter-button');
  filterButtons.forEach(button => {
    button.classList.remove('active');
    if (button.textContent.toLowerCase() === option) {
      button.classList.add('active');
    }
  });
}

document.getElementById('event-type').addEventListener('change', function() {
    var otherEventTypeInput = document.getElementById('other-event-type');
    if (this.value === 'Other') {
      otherEventTypeInput.style.display = 'block';
    } else {
      otherEventTypeInput.style.display = 'none';
    }
  });

  document.getElementById('type').addEventListener('change', function() {
    var otherEventTypeInput = document.getElementById('other');
    if (this.value === 'Other') {
      otherEventTypeInput.style.display = 'block';
    } else {
      otherEventTypeInput.style.display = 'none';
    }
  });

</script>