<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/scholarapproval.css">
<link rel="icon" href="img/logo.png" type="image/x-icon">
<title>Scholarship Approval Page</title>
</head>
<body>
    <%- include('header/navbar.ejs') %>
    <div class="heading">
        <h2>Scholarship Approval</h2>
    </div>
    <div class="container">

        <table>
          <thead>
            <tr>
              <th>Student Name</th>
              <th>Roll Number</th>
              <th>Year</th>
              <th>Department</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John Doe</td>
              <td>2023001</td>
              <td>3</td>
              <td>Computer Science</td>
              <td>Pending</td>
              <td>
                <button class="approve-button">Approve</button>
                <button class="reject-button">Reject</button>
              </td>
            </tr>
            <tr>
              <td>Jane Smith</td>
              <td>2023012</td>
              <td>4</td>
              <td>Electrical Engineering</td>
              <td>Pending</td>
              <td>
                <button class="approve-button">Approve</button>
                <button class="reject-button">Reject</button>
              </td>
            </tr>
            <tr>
                <td>John Doe</td>
                <td>2023001</td>
                <td>3</td>
                <td>Computer Science</td>
                <td>Pending</td>
                <td>
                  <button class="approve-button">Approve</button>
                  <button class="reject-button">Reject</button>
                </td>
              </tr>
            <tr>
                <td>Jane Smith</td>
                <td>2023012</td>
                <td>4</td>
                <td>Electrical Engineering</td>
                <td>Pending</td>
                <td>
                  <button class="approve-button">Approve</button>
                  <button class="reject-button">Reject</button>
                </td>
              </tr>
              <tr>
                <td>John Doe</td>
                <td>2023001</td>
                <td>3</td>
                <td>Computer Science</td>
                <td>Pending</td>
                <td>
                  <button class="approve-button">Approve</button>
                  <button class="reject-button">Reject</button>
                </td>
              </tr>
              <tr>
                <td>Jane Smith</td>
                <td>2023012</td>
                <td>4</td>
                <td>Electrical Engineering</td>
                <td>Pending</td>
                <td>
                  <button class="approve-button">Approve</button>
                  <button class="reject-button">Reject</button>
                </td>
              </tr>
              <tr>
                <td>John Doe</td>
                <td>2023001</td>
                <td>3</td>
                <td>Computer Science</td>
                <td>Pending</td>
                <td>
                  <button class="approve-button">Approve</button>
                  <button class="reject-button">Reject</button>
                </td>
              </tr>
              <tr>
                <td>Jane Smith</td>
                <td>2023012</td>
                <td>4</td>
                <td>Electrical Engineering</td>
                <td>Pending</td>
                <td>
                  <button class="approve-button">Approve</button>
                  <button class="reject-button">Reject</button>
                </td>
              </tr>
              <tr>
                <td>John Doe</td>
                <td>2023001</td>
                <td>3</td>
                <td>Computer Science</td>
                <td>Pending</td>
                <td>
                  <button class="approve-button">Approve</button>
                  <button class="reject-button">Reject</button>
                </td>
              </tr>
          </tbody>
        </table>
    </div>

    <div class="footer">
      &copy; 2024 Copyright: SDC PSG iTech
      <br>
      <a style="color: blue; font-size: 16px;; font-weight: bold;" href="/devops">DevOps Team</a>
    </div>

</body>
</html>