@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Montserrat;
    background: #EEEEFF;
}

  .container {
    position: relative;
    width: 60%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation: slideInFromLeft 0.5s ease-out forwards;
  }

  h2 {
    text-align: center;
    color: #000;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-family: Montserrat;
    font-size: 16px;
    color: #4D4D4D;
    font-weight: bolder;
  }

  input[type="text"],
  textarea,
  select {
    width: 98%;
    padding: 10px;
    border-radius: 8px;
    color: #555;
    font-family: Montserrat;
    font-size: 16px;
    box-shadow: 1px #000000;
    border: 1px solid #cbcadc;
    background-color: #f3f3f7;
    transition: border-color 0.3s; 
  }

  input[type="submit"] {
    background: linear-gradient(to right, #53448C, #62A3DA);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 35%;
    border-radius: 5px;
    margin-top: 3%;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 16px;
    width: 20%;
    display: block;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s; 
  }

  input[type="submit"]:hover {
    background-color: #31b6c2e0;
    transform: scale(.97); 
  }

  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: linear-gradient(to right, #53448C, #62A3DA);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 16px;
    display: block;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s; 
  }

  .back-button:hover {
    background-color: #31b6c2e0;
    transform: scale(.97); 
  }


  @media screen and (max-width: 768px) {
    .container {
      width: 90%;
    }
  }