
<div class="navbar">
    <div class="logo-text" onclick="location.href='/admin'"><strong>PSG iTech Alumni Connect Application</strong></div>
    <ul>
        <li><a href="/admin">Home</a></li>
        <li class="dropdown">
            <button class="dropbtn" style=" font-size: medium;">Broadcast</button>
            <div class="dropdown-content">
                <a href="/alumnibroadcast">Alumni</a>
                <a href="/facultybroadcast">Faculty</a>
                <a href="/studentbroadcast">Students</a>
            </div>
        </li>
        <li class="dropdown">
            <button class="dropbtn" style=" font-size: medium;">Upload</button>
            <div class="dropdown-content">
                <a href="#">Events</a>
                <a href="#">Requirements</a>
            </div>
        </li>
    </ul>
    <div class="user-dropdown">
        <img class="user-icon" src="img/user.png" alt="User Icon">
        <div class="user-dropdown-content">
            <a href="/users">Settings</a>
            <a href="/">Logout</a>
        </div>
    </div>
</div>