<div class="navbar">
    <div class="logo-text" onclick="location.href='/alumni'"><strong>PSG iTech Alumni Connect Application</strong></div>
    <ul>
        <li><a href="/alumni">Home</a></li>
        <li class="dropdown">
            <button class="dropbtn" style=" font-size: medium;">Connect</button>
            <div class="dropdown-content">
                <a href="/alumnichat">Chat</a>
                <a href="#">Connection</a>
            </div>
        </li>
        <li class="dropdown">
            <button class="dropbtn" style="font-size: medium;">Post</button>
            <div class="dropdown-content">
                <a href="/fund">Scholarship</a>
                <a href="/post">Jobs/Internships</a>
            </div>
        </li>
    </ul>
    <div class="user-dropdown">
        <img class="user-icon" src="img/user.png" alt="User Icon">
        <div class="user-dropdown-content">
            <a href="#">Settings</a>
            <a href="/">Logout</a>
        </div>
    </div>
</div>