<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/alumnibroadcast.css">
<link rel="icon" href="img/logo.png" type="image/x-icon">
<title>Alumni Broadcast Page</title>
</head>
<body>
    <%- include('header/navbar.ejs') %>
    <div class="content">
        <h2>Broadcast</h2>
        <form action="/abroadcast-message" method="post" class="form">
            <div class="input-group">
                <label for="fromInput">From:</label>
                <input type="text" id="fromInput" name="fromInput" placeholder="Your name" required>
            </div>
            <div class="input-group">
                <label for="role"><strong>To:</strong></label>
                <select id="role" name="role" required>
                    <option style="color: black;" value="student">Student</option>
                    <option style="color: black;" value="alumni">Alumni</option>
                    <option style="color: black;" value="faculty">Faculty</option>
                </select>
            </div>
            <div class="input-group">
                <label for="messageInput">Message:</label>
                <textarea id="messageInput" name="messageInput" placeholder="Type your message..."></textarea>
            </div>
            <br>
            <button type="submit" class="button">Broadcast</button>
            <div id="messageDisplay"></div>
        </form>
</div>
<div class="footer">
    &copy; 2024 Copyright: SDC PSG iTech
    <br>
    <a style="color: blue; font-size: 16px;; font-weight: bold;" href="/devops">DevOps Team</a>
  </div>
</body>
</html>


<script>
    function broadcastMessage() {
    var from = document.getElementById("fromInput").value;
    var message = document.getElementById("messageInput").value;

    if (from.trim() === "" || message.trim() === "") {
        alert("Please fill in both 'From' and 'Message' fields.");
        return;
    }

    displayMessage(from, message);
}

</script>