<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/forget.css">
  <link rel="icon" href="img/logo.png" type="image/x-icon">
  <title>Forget Password Page</title>
</head>
<body>
  <div class="container">
    <div class="signup-box">
      <h2>Forget Password</h2>
      <img class="img-logo" src="img/logo_psg_black.png" alt="PSG Logo">
      <form action="/forget" method="post">
        <div class="input-group">
          <label for="email"><strong>Email Id:</strong></label>
          <input type="email" id="email" name="email" required>
        </div>
        <button type="submit" class="btn-primary">Reset Password</button>
      </form>
      <div class="signin-link">
        <span style="color: #000 !important"><strong>Already have an account?</strong><a href="/"> Sign in</a></span>
      </div>
    </div>
  </div>

  <footer class="footer">
    &copy; 2024 Alumni Connect Application
  </footer>
</body>
</html>