<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="img/logo.png" type="image/x-icon">
<title>Home Page</title>
</head>
<body>
    <div>
        <div class="button-container">
            <button><a href="/student">Student</a></button>
            <button><a href="/alumni">Alumni</a></button>
            <button><a href="/faculty">Faculty</a></button>
            <button><a href="/admin">Admin</a></button>
          <a style="color: black;">https://charts.mongodb.com/charts-alumni-application-bmyre/dashboards/65c6614a-1871-47e2-8f2c-6acd82c48548</a>     

          </div>    
    </div>
</body>
</html>
<style>
    a{
        text-decoration: none;
        color: #fff;
    }
    .p{
        color: black;
    }
.button-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.button-container button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .button-container {
    flex-wrap: wrap;
  }

  .button-container button {
    flex: 0 0 45%; 
  }
}

@media only screen and (max-width: 480px) {
  .button-container button {
    flex: 0 0 90%;
  }
}

</style>