<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="img/logo.png" type="image/x-icon">
<title>Landing Page</title>
  <style>
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#launchScreen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #4CAF50, #4CAF50, #2196F3, #2196F3);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

.launchContent {
  text-align: center;
  color: white;
}

h1 {
  font-size: 3rem;
}

#launchButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #FF5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#launchButton:hover {
  background-color: #E64A19;
  transform: scale(1.05);
}

.countdown {
  font-size: 5rem; 
  color: white;
  font-weight: bolder;
  margin-top: 20px;
  animation: countdownAnimation 10s linear forwards;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes countdownAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

  </style>
</head>
<body>

  <div id="launchScreen">
    <div class="launchContent">
      <h1>Welcome to PSG iTech Alumni Association</h1>
      <button id="launchButton">Launch</button>
      <div id="countdown" class="countdown">10</div>
    </div>
  </div>

</body>
</html>

<script>
document.getElementById("launchButton").addEventListener("click", function() {
  var countdownElement = document.getElementById("countdown");
  countdownElement.style.opacity = "1";
  var seconds = 10;
  
  var countdownInterval = setInterval(function() {
    seconds--;
    countdownElement.textContent = seconds;
    if (seconds <= 0) {
      clearInterval(countdownInterval);
      setTimeout(function() {
        window.location.href = "/";
      }, 1000);
    }
  }, 1000);
});

</script>